@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 80px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f68efa;
  padding: 0.8rem 1rem;
  font-size: 1.3rem;
  color: #fff;;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 80px;
}

.start {
  background: linear-gradient(90deg, #262b27 0%, #034469 100%);
}

.progress {
  background: linear-gradient(90deg, #262b27 0%, #034469 100%);
}

.done {
  background: linear-gradient(90deg, #262b27 0%, #034469 100%);
}

.hold {
  background: linear-gradient(to top, #fcc8ea 0%, #e393fc);
  
}

.hide {
  display: none;
}

.hovered {
  border: 2px dotted #fdb6ff;
}